<html>
	<head>
		<meta charset="utf-8">
		<title>vue-demo</title>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	</head>
<body>
	<div id="app">
		<text-document :title="doc.title" v-on:update:title="doc.title=$event"></text-document>
		<text-document :title.sync="doc.title"></text-document>
		<tree-folder :folder="folder">
		</tree-folder>
		<br>
		<tree-folder1 :folder="folder"></tree-folder1>
	</div>
</body>

<script>
Vue.component('tree-folder1',{
	template:`
		<ul style="list-style-type:none;">
			<li v-for="child in folder.children">
				<span v-if="!child.children">{{child.name}}</span>				
				<template v-else>
					<span style="color:#0ff;border:1px solid #0ff;">{{child.name}}</span>
					<button v-on:click="expand=!expand">expand</button>
					<tree-folder1 v-if="expand" :folder="child"/>
				</template>
			</li>
		</ul>
	`,
	props:['folder'],
	data(){
		return {
			expand:false,
		}
	}
})

Vue.component('tree-folder',{
	template:`
			<ul style="list-style-type:circle;padding-left:16px;">
				<li>{{folder.name}}
				<button v-on:click="expand=!expand" style="font-size:12px;margin-left:8px;">expand</button></li>
				<tree-folder-contents v-if="expand" :children="folder.children"/>
			</ul>
	`,
	props:['folder'],
	data(){
		return{
			expand:false,
		}
	}

})
Vue.component('tree-folder-contents',{
	template:`
		<ul style="list-style-type:none;padding-left:16px;">
			<li v-for="child in children">
				<tree-folder v-if="child.children" :folder="child"/>
				<span v-else>{{child.name}}</span>
			</li>
		</ul>
	`,
	props:['children']
})
Vue.component('text-document',{
	template:`
		<article>
			<h1 key="unique">{{title}}</h1>
			<p>意大利疫情感染人数突破一万人，意大利总理决定封城！！！</p>
			<br>
			Edit newTitle:<input v-model="newTitle"/><button v-on:click="$emit('update:title', newTitle)">update-title</button>
			
		</article>
	`,
	props:['title', 'unique'],
	data(){
		return {newTitle:'',}
	},


})



var vm = new Vue({
	el:'#app',
	data: {
		lovingVue:true,
		doc:{
			title:'今日新闻',
		},
		folder:{
			name:'root',
			children:
			[
				{name:'1-1'},
				{name:'1-2'},
				{name:'1-3',children:[
					{name:'1-3-1'},
					{name:'1-3-2'}
					],
				},
				{name:'1-4',children:[
					{name:'1-4-1'},
					{name:'1-4-2'},
				],
				},
				{name:'1-5'},
				
			]
		}
	},
   
})
</script>
</html>