<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>VUE demo</title>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<style>
	.clearfix::after{
		content:"\20";
		display:inline-block;
		height:0;
		clear:both;
	}

</style>
</head>
<body>
<div id="app">
<todo-item ref="todoItem" v-bind:todos="todos"></todo-item>
</div>
</body>
<script>
Vue.component("todo-item",{
	props:['todos'],
	data(){
		return {
			item:"",
			seen:true,
			buttonStyle:{
				float:"right",
				marginRight:"8px",
				width:"80px"
			},
			itemStyle:{
				width:"500px",
				height:"25px",
				lineHeight:"25px",
				padding:"5px",
				backgroundColor:"rgb(221, 153, 255)",
				marginTop:"1px"
			},
		}
	},
	methods:{
		removeItem(index){
			this.todos.splice(index,1)
			
		},
		addItem(){
			this.todos.push({id:this.todos[this.todos.length-1].id+1,title:this.item})
			this.item=""

		},
		saveItem(){
			return "save"
		},
		savaAllEdit(){
			for(todo of this.todos){
				todo.isEditState = false
			}
		}
	},
	
	template:`
		<div id="todoItem">
			<input type="text" v-on:keyup.enter="addItem" v-model="item" placeholder="add a todo item">
			<button type="button" v-on:click="addItem" style="margin-left:20px;">additem</button>
			<button type="button" v-on:click="savaAllEdit" style="margin-left:20px">save all</button><hr>
			<li v-for="todo,index in todos" :style="itemStyle">
				<input v-if="todo.isEditState" v-model="todo.title"/>
				<span v-else>{{todo.title}}</span>
				<button v-on:click="removeItem(index)" v-bind:style="buttonStyle">remove</button>
				<button v-on:click="todo.isEditState=!todo.isEditState" v-bind:style="buttonStyle">{{todo.isEditState ? saveItem() : "edit"}}</button>
			</li>
		</div>
	`
})

vm = new Vue({
	el:"#app",
	data:{
		todos:[
			{id:1, title:"起床",isEditState:false},
			{id:2, title:"穿衣服",isEditState:false},
			{id:3, title:"洗脸",isEditState:false},
			{id:4, title:"刷牙",isEditState:false},
			{id:5, title:"吃饭",isEditState:false},
			{id:6, title:"打开电脑",isEditState:false},
			{id:7, title:"游戏",isEditState:false}
		]
	},
	watch:{
		title:function(newValue, oldValue){
			document.getElementsByTagName("p")[0].innerText="hi"
		}
	},
	
	
})
</script>
</html>

